<h1>Case Invoice</h1>
<p><b>Payment Id:</b><%=@cu.payments.last.id%></p>
<p><b>Amount:</b><%=@cu.payments.last.case.case_type.amount%>$</p>
<p><b>Case Title:</b><%=@cu.payments.last.case.case_title %></p>
<p><b>Purchased At:</b><%=@cu.payments.last.purchased_at %></p>
<p>Thanks</p>