<%= form_tag(cases_path, method: :get,remote: true, class: "navbar-form", role: 'search', id: "search-form") do %>
<div class="form-group pull-right">
	<div class="input-group">
		<%= text_field_tag 'search', nil, class: "form-control", placeholder: "search cases",title: "Enter to search",id: "search_word" %>
		<div class='input-group-btn'>
			<%= button_tag(type: 'submit', class: "btn btn-large btn-search btn-primary") do %>
 				<i class="fa fa-search"></i> 
			<% end %>
		</div>
	</div>
</div><br><br>
<% end %>
<script type="text/javascript">
$('#search_word').keyup(function() {
  $.ajax({ type: "GET",   
           url: "<%= cases_path %>",
           data: {search: $('#search_word').val() },
  });
});
</script>