<%= form_tag('/cases/search_case')  do %>
	<div class = "form-group">
		<div class = "input-group">
			<%= text_field_tag 'search', nil, placeholder: "search",title: "Enter to search", class: "btn btn-flat" do %>
				<i class="fa fa-search"></i>
			<% end %>
		</div>
	</div>
<% end %>