<h1>Cases</h1>
<%= render partial: "search_form" %>
  <% if @cases.present? %> 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "cases" %>
  </tbody>
</table>
<%= link_to 'New Case', new_case_path  if current_user.is_client?%>
<%= will_paginate @cases, renderer: BootstrapPagination::Rails, class: "pull-right"%>
  <% else %>
  <p>No matching result found</p>
<% end %>
