<div class="row">
	<div class="col-md-3">
		<h2 style="display:inline">Cases</h2>
	</div>
	<% if @user_case.present? %>
	<div class="col-md-9">
	
	
			<%= render partial: "search_form" %>
		</div>
		<div class="col-md-12">
			<%= render partial: "cases" %>
			<% else %>
			<p>No matching result found</p>
			<% end %><br>
	</div>
</div>