<div class="box-body">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
			<li class="" data-slide-to="1" data-target="#carousel-example-generic"></li>
			<li class="" data-slide-to="2" data-target="#carousel-example-generic"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag('The-Assembly-Screenshot-03-CH2', height: "100%", width: "100%") %>
				<div class="carousel-caption"> First Slide </div>
			</div>
			<div class="item">
				<%= image_tag('disability-lawyers-banner', height: "100%", width: "100%") %>
				<div class="carousel-caption"> Second Slide </div>
			</div>
			<div class="item">
				<%= image_tag('scales-of-justice-gavel-and-books-on-brown-background-Stock-Photo', height: "100%", width: "100%") %>
				<div class="carousel-caption"> Third Slide </div>
			</div>
		</div>
		<a class="left carousel-control" data-slide="prev" href="#carousel-example-generic">
			<span class="fa fa-angle-left"></span>
		</a>
		<a class="right carousel-control" data-slide="next" href="#carousel-example-generic">
			<span class="fa fa-angle-right"></span>
		</a>
	</div>
</div>