<h1>User Profiles</h1>	
<p>
	<table width="40%" class="table table-striped table-bordered table-hover" >
		<tr>
			<th>Name</th> <th colspan=3>Actions</th>
		</tr>
		<% @user_profile.each do |up|  %>
		<tr>
			<td><%= up.first_name.titleize + " " + up.last_name.titleize %></td>
			<td><%= link_to user_profile_path(up), class: "fa fa-fw fa-eye", title: "view" do %><% end %></td>
			<td><%= link_to edit_user_profile_path(up), class: "fa fa-fw fa-pencil-square-o", title: "Edit" do %><% end  if up.user.id==current_user.id %></td>
			<td><%= link_to up, method: :delete, data: {confirm: 'are you sure? '}, class: "fa fa-fw fa-trash", title: "delete" do %><% end if up.user.id==current_user.id  %></td>
		</tr>
		<% end %>
	</table>
</p>