/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

 .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.custom-header{
    font-size: 23px !important;
}

 .alert-notice {
    color:#dff0d8;background-color:#3c763d;border-color:#d6e9c6;
 }

 .alert-alert {
    background-color: #A94442;
    border-color: #ebccd1;
    color: #dff0d8;
}