// Place all the styles related to the UserProfile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-position {
  font-size: 18px;
  color: #777;
  line-height: 20px;
  margin-bottom: 14px
}

.icon-location {
  background-position: 0px -97px;
}

.field_with_errors {
  padding: 2px;
  background-color: #ffcccc;
  display: table;
}

#error_explanation {
  
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #ffcccc;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #ffcccc;
    color: #ffcccc;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}